

#canvasContainer {
    background-color: antiquewhite;
    aspect-ratio: 16 / 9;
    max-width: 100%;
    max-height: calc(100vh - 20px); /* Subtract any desired margin or padding */
    margin: 0 auto;
    border: 1px solid #000;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}



.rectangle {
    position: absolute;
    border: 2px solid red;
    pointer-events: auto;
}

body {
    background-color: dimgray;
}
