#canvasContainer {
    position: relative;
    width: 100%;
    height: 0;
    background-color: whitesmoke;
    padding-bottom: 56.25%; /* 16:9 ratio */
}

#canvasid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      border: 1px solid black;
}


.rectangle {
    position: absolute;
    border: 2px solid red;
    pointer-events: auto;
}

body {
    background-color: dimgray;
}
