<!DOCTYPE html>
<html>
<head>
	<title>Rectangle Drawing App</title>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
	<div class="header">
		<h1>Rectangle Drawing App</h1>
		<button id="saveAllBtn">Save All</button>
	</div>
	<div class="white_board" id="white_board">
		<canvas class="canvas" id="canvas"></canvas>
		<!-- iterate existing rectangle -->
		{% for widget in all_widget %}
		 <div class="widget" id="#{{widget}}" style="position:absolute;top: {{all_widget[widget]['y']}}px ;
		 left:{{all_widget[widget]['x']}}px; width: {{all_widget[widget]['width']}}px;
		 height:{{all_widget[widget]['height']}}px">test </div>
		{% endfor %}
	</div>
	<div class="widget_modif">
		<div class="name_delete">
			<p id="selected_rect">Select:</p>
			<button id="delete_rect">delete</button>
		</div>
		<p>Width: <input class="input_width" id="width" type="number"> px</p>
		<p>Height: <input class="input_width" id="height" type="number"> px</p>
		<p>Widget:
			<select id="myDropdown">
				{% for value in drop_values %}
				<option value="{{ value }}">{{ value }}</option>
				{% endfor %}
			</select>
		</p>
		<div class="custom_widget">
			dep on the widget
		</div>
	</div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
