<!DOCTYPE html>
<html>
<head>
	<title>Rectangle Drawing App</title>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">

</head>
<body>
<h1>Rectangle Drawing App</h1>
<div class="canva_spec">
	<div , class="canvasContainer" id="canvasContainer">
		<canvas id="canvas"></canvas>
	</div>
	<div class="widget_spec">
		<button id="widget_drop">
			<select class="dropdown"></select>
		</button>

	</div>
</div>
<button id="saveAllBtn">Save All</button>


<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
