<!DOCTYPE html>
<html>
<head>
	<title>Rectangle Drawing App</title>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Rectangle Drawing App</h1>
<div class="canva_spec">
	<div , class="canvasContainer" id="canvasContainer">
		<canvas id="canvas"></canvas>
	</div>
	<div class="widget_spec">
		<p>Selected:</p>
		<p>Width: <input class="input_width" id="width" type="number"> px</p>
		<p>Height: <input class="input_width" id="height" type="number"> px</p>
		<p>Widget:
			<select id="myDropdown">
				{% for value in drop_values %}
					<option value="{{ value }}">{{ value }}</option>
				{% endfor %}
			</select>
		</p>
		<div class="custom_widget">
			dep on the widget
		</div>
	</div>
</div>
<button id="saveAllBtn">Save All</button>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
